/*
* @Author: Administrator
* @Date:   2017-08-29 09:48:59
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-22 11:49:40
*/
*{
	padding: 0;margin: 0;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
}
.shang{
	position:fixed;top:0;left:0;
	height: 15px;
	width: 100%;
}
#name{
	text-decoration: none;
	color: white;
}
.box{
	width: 100%;
	position: absolute;
	list-style: none;
}
/* top */
.top{
	width: 100%;
	background: #1F333A;
	height: 60px;
}
.top_1{
	float: left;
	color: white;
	height: 60px;
	line-height: 60px;
}
.top_1_2{
	height: 60px;
	line-height: 60px;
	float: left;
}
.top_1_3{
	height: 60px;
	line-height: 70px;
	float: left;
	margin-left: 20px;
}
.top_1_1{
	width: 1300px;
	margin: 0 auto;
}
.top_2{
	float: right;
	margin-right: 40px;
}
.top_2 a{
	color: black;
}
.top_2 .l1{
	float: left;
	position: relative; 
	width: 30px;
}
.top_2 ul{
	position: absolute;
	width: 80px;
	height: 125px;
	z-index: 1000;
	text-align: center;
	line-height: 35px;
	background: rgba(240, 240, 240, 0.6);
	font-size: 12px;
	display: none;
}
.top_2 .l1:hover ul{display: block;}  
.top_2_2{
	float: left;
	margin-left: 10px;
	height: 60px;
	line-height: 60px;
}
.top_2_2 a{
	color: white;
	font-size: 14px;
}
.top_2_1{
	width: 30px;
	height: 30px;
	border-radius: 90px;
	background: #DEDEDE;
	float: left;
	margin-top: 15px;
}
.top_2 img{
	width: 30px;
	height: 30px;
	border-radius: 90px;
}
/* top1 */
.top1{
	width: 1300px;
	height: 70px;
	margin: 0 auto;
}
.top1_1{
	float: left;
	width: 1000px;
	height: 30px;
}
.top1_2{
	float: left;
	width: 1000px;
	height: 30px;
	margin-top: 5px;
}
.top1_2_1{
	width: 130px;
	height: 30px;
	line-height: 30px;
	color: white;
	float: left;
	text-align: center;
	background: #1F333A;
}
.top1_2_2{
	width: 130px;
	height: 30px;
	line-height: 30px;
	color: white;
	float: left;
	text-align: center;
	background: #1F333A;
}
.top1_2_3{
	float: left;
	border-bottom: 30px solid #1F333A;
    border-right: 30px solid transparent;
}
.xian{
	width: 1px;
	height: 30px;
	float: left;
	background: white;
}

.top1_3{
	width: 150px;
	height: 70px;
	float: right;
	margin-right: 50px;
}
.top1_3 img{
	width: 70px;
	height: 70px;
}
.banner{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* center */
.banner_box{
	width: 1300px;
	height: 600px;
	margin: 0 auto;
	position: relative; 
	top: 200px;
	overflow: hidden;
}
.imgs{
	width: 3900px;
}
.imgs img{
	width: 1300px;
	height: 600px;
	float: left;
	display:none;
}
.banner_box .left_btn, .banner_box .right_btn{
 	display: inline-block;
 	width:60px;
 	height: 60px;
 	font-size: 40px;
 	background:rgba(0,0,0,0.4);
    color: white;
 	text-align: center;
 	line-height: 60px;
 	position: absolute;
 	top: 50%;
 	margin-top: -30px;
 	opacity: 0.2;
 }
.banner_box .left_btn{left: 0;}
.banner_box .right_btn{right: 0;}

.banner_box .left_btn:hover, .banner_box .right_btn:hover{
	opacity: 1
 }
.points img{
	width: 200px;
	height: 100px;
	float: left;
}
.banner_box .points{
	position: absolute;
	left: 30px;bottom:40px;
	width: 100%; 
}
.banner_box .points span{ 
	display: inline-block; 
	width: 200px;
    margin:2px;
	height: 100px;
 }
 .banner_box .points span.current{ border:1px solid grey;}
 .chaxun{
 	width: 200px;
 	height: 250px;
 	background: rgba(255, 255, 255, 0.3);
 	position: absolute;
 	z-index: 50;
 	left: 30px;
 	top: 20px;
 	border-radius: 5px;
 }
 .chaxun1{
 	width: 180px;
 	margin-top: 10px;
 	margin-left: 10px;
 	height: 80px;
 }
 .chaxun1_1{
 	float: left;
 	width: 180px;
 	font-size: 13px;
 }
 .chaxun1_3{
 	width: 180px;
 	height: 20px;
 	float: left;
 	margin-top: 5px;
 }
 .chaxun1_3 input{
 	background: rgba(240, 240, 240, 0.6);
 	list-style: none;
 	outline-style: none;
 	border: 0;
 	width: 180px;
 	height: 20px;
 }
 .chaxun1_2{
 	background: black;
 	color: white;
 	width: 50px;
 	height: 20px;
 	text-align: center;
 	line-height: 20px;
 	font-size: 10px;
 	float: left;
 	margin-top: 10px;
 }
 .xian1{
 	width: 180px;
 	height: 1px;
 	background: white;
 	float: left;
 	margin-left: 10px;
 }
 .chaxun2{
 	width: 180px;
 	height: 150px;
 	float: left;
 	margin-left: 10px;
 	margin-top: 5px;
 }
 .chaxun2_1{
 	width: 180px;
 	height: 20px;
 	font-size: 13px;
 }
 .chaxun2_2{
 	width: 180px;
 	height: 20px;
 	float: left;
 }
 .chaxun2_2 input{
 	background: rgba(240, 240, 240, 0.6);
 	height: 20px;
 	list-style: none;
 	outline-style: none;
 	border: 0;
 }
 .chaxun2_3{
 	width: 180px;
 	height: 20px;
 	float: left;
 	margin-top: 5px;
 }
 .chaxun2_3 input{
 	background: rgba(240, 240, 240, 0.6);
 	height: 20px;
 	list-style: none;
 	outline-style: none;
 	border: 0;
 }
 .chaxun2_4{
 	width: 180px;
 	height: 20px;
 	float: left;
 	margin-top: 10px;
 }
 .xuan1{
 	float: left;
 	width: 20px;
 	height: 20px;
 	line-height: 20px;
 }
 .xuan2{
 	float: left;
 	width: 20px;
 	height: 20px;
 	line-height: 20px;
 	margin-left: 20px;
 }
 .wenzi1{
 	float: left;
 	width: 60px;
 	height: 20px;
 	line-height: 20px;
 	font-size: 12px;
 }
 .wenzi2{
 	float: left;
 	width: 60px;
 	height: 20px;
 	line-height: 20px;
 	font-size: 12px;
 }
 .chaxun2_5{
 	background: black;
 	color: white;
 	width: 50px;
 	height: 20px;
 	text-align: center;
 	line-height: 20px;
 	font-size: 10px;
 	float: left;
 	margin-top: 10px;
 }
 /* center */
 .center{
 	width: 1300px;
 	height: 800px;
 	margin: 0 auto;
 	position: relative;
 	top: 100px;
 }
 .cen{
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
 }
 .center_1{
 	width: 650px;
 	height: 800px;
 	background: url('../images/opcnn.jpg');
 	float: left;
 }
 .center_2{
 	width: 650px;
 	height: 450px;
 	background: #2E4B53;
 	float: left;
 }
 .center_2_1{
 	width: 550px;
 	height: 400px;
 	margin: 25px 50px;
 	color: white;
 	line-height: 25px;
 }
 .center_3{
 	width: 650px;
 	height: 350px;
 	background: #C1C2BC;
 	float: left;
 }
 .center_4{
 	width: 300px;
 	height: 120px;
 	float: left;
 	background: #A3DEE4;
 	margin-left: 50px;
 	margin-top:-60px;
 }
 .center_4_1{
 	width: 300px;
 	height: 100px;
 }
 .center_4_2{
 	width: 300px;
 	height: 20px;
 	background: #C1C2BC;

 }
 .center_4_2_1{
 	width: 0;
 	height: 0;
    border-left: 20px solid #A3DEE4;
    border-bottom: 20px solid transparent;
 }
 .cent{
 	width: 100%;
 	float: left;
 	margin-top: 125px;
 }
 .center1{
 	width: 1300px;
 	height: 300px;
 	margin: 0 auto;
 }
 .show{
 	width: 1300px;
 	height: 40px;
 	text-align: center;
 	line-height: 40px;
 }
 .show1{
 	width: 1300px;
 	height: 260px;
 }
 .show1_1{
 	width: 330px;
 	height: 250px;
 	float: left;
 	margin-top: 10px;
 	background: #A3DEE4;
 }
 .show1_2{
 	width: 330px;
 	height: 250px;
 	float: left;
 	margin-top: 10px;
 	background: #A3DEE4;
 	margin-left: 155px;
 }

.show1_3{
 	width: 330px;
 	height: 250px;
 	float: right;
 	margin-top: 10px;
 	background: #A3DEE4;
 }
.center2{
	width: 1300px;
	height: 400px;
	margin: 20px auto;
}
.new{
	width: 1300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.new1_1{
	width: 330px;
	height: 360px;
	float: left;
}
.shang1{
	width: 330px;
	height: 200px;
}
.shang1 img{
	width: 330px;
	height: 200px;
}
.xia1{
	width: 330px;
	height: 160px;
	background: #A3DEE4;
}
.xia1_1{
	width: 230px;
	height: 120px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
}
.new1_2{
	width: 330px;
	height: 360px;
	float: left;
	margin-left: 155px;
}
.shang2{
	width: 330px;
	height: 200px;
}
.shang2 img{
	width: 330px;
	height: 200px;
}
.xia2{
	width: 330px;
	height: 160px;
	background: #A3DEE4;
}
.xia2_1{
	width: 230px;
	height: 120px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
}
.new1_3{
	width: 330px;
	height: 360px;
	float: right;
}
.shang3{
	width: 330px;
	height: 200px;
}
.shang3 img{
	width: 330px;
	height: 200px;
}
.xia3{
	width: 330px;
	height: 160px;
	background: #A3DEE4;
}
.xia3_1{
	width: 230px;
	height: 120px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
}
.cente{
	width: 100%;
	float: left;
	margin-top: 130px;
}
.center3{
	width: 1300px;
	height: 90px;
	margin: 0 auto;
	background: #64B1B9;
}
.center3_1{
	width: 800px;
	height: 90px;
	line-height: 40px;
	float: left;
	margin-left: 100px;
}
.p1{
	color: white;
	font-size: 20px;
}
.p2{
	color: white;
	font-size: 14px;
}
.center3_2{
	color: white;
	width: 150px;
	height: 50px;
	float: left;
	background: #1F333A;
	margin-top: 20px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
}
/* foot */
.foot{
	width: 1300px;
	height: 110px;
	background: #2E4B53;
	margin: 0 auto;

}
.foot_1{
	width: 400px;
	height: 55px;
	float: left;
	margin-left: 100px;
}
.foot_1_1{
	width: 400px;
	height: 35px;
	font-size: 18px;
	color: white;
}
.foot_1_2{
	width: 400px;
	height: 20px;
	font-size: 14px;
	color: white;
}
.foot_2{
	width: 400px;
	height: 55px;
	float: left;
}
.foot_2_1{
	width: 400px;
	height: 35px;
	font-size: 18px;
	color: white;
}
.foot_2_2{
	width: 400px;
	height: 20px;
	font-size: 14px;
	color: white;
}
.foot_3{
	width: 400px;
	height: 55px;
	float: left;
}
.foot_3_1{
	width: 400px;
	height: 35px;
	font-size: 18px;
	color: white;
}
.foot_3_2{
	width: 400px;
	height: 20px;
	font-size: 14px;
	color: white;
}
.foot_4{
	width: 700px;
	height: 55px;
	float: left;
}
.foot_5{
	width: 550px;
	height: 50px;
	background: #1F333A;
	float: left;
	margin-top: 25px;
}
.foot_5_1{
	width: 80px;
	height: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	float: left;
}
.foot_6{
	width: 0;
	height: 0;
	border-bottom: 30px solid #1F333A;
    border-left: 50px solid transparent;
    float: left;
    margin-top: 25px;
}
.box2{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	z-index: 100;
	display: none;
}
.box3{
	width: 400px;
	height: 300px;
	background: white;
    margin: 300px auto;
}
.box3_1{
	width: 300px;
	float: left;
	margin-left: 50px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.box3_2{
	width: 300px;
	height: 1px;
	background: #DEDEDE;
	float: left;
	margin-left: 50px;
}

.box3_3{
	width: 300px;
	height: 35px;
	margin-top:30px;
	margin-left: 50px;
	float: left;	
	background: #DEDEDE;
	border-radius: 5px;
}
.box3_3 input{
	width: 260px;
	height: 35px;
	background: #DEDEDE;
	color: white;
	border: 0;
	list-style: none;
	outline-style: none;
	display: inline-block;
	float: left;
	margin-left: 20px;
}
.box3_4{
	width: 300px;
	height: 35px;
	margin-top: 30px;
	margin-left: 50px;	
	float: left;
	background: #DEDEDE;
	border-radius: 5px;	
}
.box3_4 input{
	width: 260px;
	height: 35px;
	background: #DEDEDE;
	color: white;
	border: 0;
	list-style: none;
	outline-style: none;
	display: inline-block;
	float: left;
	margin-left: 20px;
}
.box3_5{
	width: 300px;
	height: 25px;
	margin-top: 10px;
	margin-left: 50px;	
	float: left;
	text-align: right;	
}
.box3_5 a{
	color: black;
	font-size: 12px;
}
.box3_6{
	width: 300px;
	height: 30px;
	margin-top: 15px;
	margin-left: 50px;	
	float: left;
	text-align: center;
	line-height: 30px;
	background: #1F333A;
	color: white;
	border-radius: 5px;	
	font-size: 17px;
	 cursor:pointer;
}
.box3_7{
	width: 300px;
	height: 25px;
	margin-top: 5px;
	margin-left: 50px;	
	float: left;
}
.box3_7_1{
	float: right;
	font-size: 12px;
	color: red;
}

.box4{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	z-index: 100;
}
.box5{
	width: 400px;
	height: 500px;
	margin: 150px auto;
	background: white;
}
.qx{
	width:40px;
	height: 40px;
	color: white;
	float: right;
	text-align: center;
	margin-right: 10px;
	margin-top: 10px;
}
.qx img{
	width: 40px;
	height: 40px;
	cursor:pointer;
}