*{
	padding:0;
	margin:0;
	
}
.top_nav{
	position:fixed;
	top:0;
	left:0;
	height:94px;
	width:100%;
	background-color:rgb(52,49,55);
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	z-index:9999;
}
.nav_div_f{
	width:890px;
	height:72px;
	margin:11px auto;
	/*background-color:red;*/
}
.top_logo{
	height:72px;
	float:left;
}
.first_page{
	margin-left:200px;
	float:left;
	color:rgb(204,204,204);
	width:50px;
	font-size:25px;
	line-height:72px;
	cursor:pointer;
}
.first_page:hover,.down_load:hover,.assist_t:hover,.recruit_t:hover,.salesman_t:hover{
	color:orange;
}
.down_load,.assist_t,.recruit_t{
	float:left;
	height:72px;
	color:rgb(204,204,204);
	width:50px;
	font-size:25px;
	line-height:72px;
	margin-left:30px;
	cursor:pointer;
}
.salesman_t{
	float:left;
	height:72px;
	color:rgb(204,204,204);
	width:75px;
	font-size:25px;
	line-height:72px;
	margin-left:30px;
	cursor:pointer;
}
.cont{
	width:1000px;
	height:802px;
	margin:0 auto;
	margin-top:120px;
}
.contact_left{
	padding-top:40px;
	width:400px;
	height:600px;
	border:1px solid #999999;
	box-shadow:5px 5px 5px 5px #92B8B1;
	border-radius:10px;
	float:left;
}
.contact_left_t{
	font-size:18px;
	height:50px;
	line-height:50px;
	margin-left:30px;
}
.contact_left_t_a{
	font-size:18px;
	height:50px;
	line-height:50px;
	/*margin-left:90px;*/
	width:100%;
	text-align:center;
}
.contact_right{
	width:400px;
	height:800px;
    margin-left:98px;
    padding-left:99px;
    border-left:1px solid black;
	float:left;
	/*background-color:red;*/
}
.contact_qrecode{
	margin-left:70px;
}
