/*
* @Author: Administrator
* @Date:   2017-08-21 12:01:50
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-21 17:54:03
*/
*{
	margin: 0;padding: 0;
	font-family: "微软雅黑";
	
}

.box{
	width: 100%;
	height: 100%;
	background: #E7E7E7;
	position: absolute;

}
.top{
	width: 100%;
	height: 60px;
	background: white;
	text-align: center;
	line-height: 60px;
	font-size: 18px;	
}
.top1{
	width: 100%;
	height: 50px;
	background: white;
	float: left;
	margin-top: 1px;
}
.top1-1{
	width: 50%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
}
.top1-2{
	width: 50%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
}
.top1-3{
	width: 50%;
	height: 2px;
	background: #B6E3DF;
	float: left;
}
.top1-4{
	width: 50%;
	height: 2px;
	background: #B6E3DF;
	float: left;
}
.center{
	width: 100%;
	height: 100px;
	background: white;
	float: left;
	margin-top: 1px;
}
.center1{
	width: 86%;
	height: 8px;
	float: left;
	margin-left: 7%;
	margin-top: 46px;
	/* border: 1px solid red; */
}
.yuan1{
	width: 6px;
	height: 6px;
	border-radius: 100px;
	border: 2px solid  #CCCCCC;
	float: left;
	margin-left: 2%;
}
.yuan2{
	width: 6px;
	height: 6px;
	border-radius: 100px;
	border: 2px solid  #CCCCCC;
	float: left;
}
.yuan3{
	width: 6px;
	height: 6px;
	border-radius: 100px;
	border: 2px solid  #CCCCCC;
	float: left;
}
.yuan4{
	width: 6px;
	height: 6px;
	border-radius: 100px;
	border: 2px solid  #CCCCCC;
	float: left;
}
.yuan5{
	width: 6px;
	height: 6px;
	border-radius: 100px;
	border: 2px solid  #CCCCCC;
	float: left;
}
.yuan6{
	width: 6px;
	height: 6px;
	border-radius: 100px;
	border: 2px solid  #CCCCCC;
	float: left;
}
.yuan7{
	width: 6px;
	height: 6px;
	border-radius: 100px;
	border: 2px solid  #CCCCCC;
	float: left;
}
.xian1{
	width: 12%;
	height: 3px;
	background: #CCCCCC;
	float: left;
	margin-top: 4px;

}
.xian2{
	width: 12%;
	height: 3px;
	background: #CCCCCC;
	float: left;
	margin-top: 4px;

}
.xian3{
	width: 12%;
	height: 3px;
	background: #CCCCCC;
	float: left;
	margin-top: 4px;

}
.xian4{
	width: 12%;
	height: 3px;
	background: #CCCCCC;
	float: left;
	margin-top: 4px;

}
.xian5{
	width: 12%;
	height: 3px;
	background: #CCCCCC;
	float: left;
	margin-top: 4px;

}
.xian6{
	width: 12%;
	height: 3px;
	background: #CCCCCC;
	float: left;
	margin-top: 4px;

}
.chufa{
	width: 20%;
	font-size: 14px;
	/* border: 1px solid green; */
	float: left;
	margin-top: 10px;
	text-align: center;
}
.mudi{
	width: 20%;
	font-size: 14px;
	/* border: 1px solid green; */
	float: right;
	margin-top: 10px;
	text-align: center;
	margin-right: 1%;
}
.foot{
	width: 100%;
	
	float: left;
	margin-top: 10px;
}
.foot1{
	width: 10%;
	float: left;
	background: white;
}
.foot1-1{
	width: 14px;
	/* border: 1px solid green; */
	float:left;
	margin-left: 30%;
	margin-top: 40px;

}
.syuan1{
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #CCCCCC;
	float: left;
}
.syuan2{
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #CCCCCC;
	float: left;
}
.syuan3{
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #CCCCCC;
	float: left;
}
.syuan4{
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #CCCCCC;
	float: left;
}
.syuan5{
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #CCCCCC;
	float: left;
}
.syuan6{
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #CCCCCC;
	float: left;
}
.syuan7{
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #CCCCCC;
	float: left;
}
.sxian1{
	width: 2px;
	height: 80px;
	background: #CCCCCC;
	float: left;
	margin-left: 6px;
}
.sxian2{
	width: 2px;
	height: 80px;
	background: #CCCCCC;
	float: left;
	margin-left: 6px;
}
.sxian3{
	width: 2px;
	height: 80px;
	background: #CCCCCC;
	float: left;
	margin-left: 6px;
}
.sxian4{
	width: 2px;
	height: 80px;
	background: #CCCCCC;
	float: left;
	margin-left: 6px;
}
.sxian5{
	width: 2px;
	height: 80px;
	background: #CCCCCC;
	float: left;
	margin-left: 6px;
}
.sxian6{
	width: 2px;
	height: 80px;
	background: #CCCCCC;
	float: left;
	margin-left: 6px;
}
.foot2{
	width: 90%;
	height: 93px;
	line-height: 93px;
	background: white;
	float: left;
}
.foot2-1{
	width: 20%;
	height: 93px;
	line-height: 93px;
	float: left;
}
.foot2-2{
	width: 30%;
	height: 93px;
	line-height: 93px;
	float: right;

}
.foot3{
	float: left;
	width: 90%;
	height: 93px;
	background: white;
	line-height: 93px;
	margin-top: 1px;
}
.foot3-1{
	width: 20%;
	height: 93px;
	line-height: 93px;
	float: left;
}
.foot3-2{
	width: 30%;
	height: 93px;
	line-height: 93px;
	float: right;

}
.foot4{
	width: 90%;
	float: left;
	height: 93px;
	background: white;
	margin-top: 1px;
}
.foot4-1{
	width: 20%;
	height: 93px;
	line-height: 93px;
	float: left;
}
.foot4-2{
	width: 30%;
	height: 93px;
	line-height: 93px;
	float: right;

}
.foot5{
	width: 90%;
	float: left;
	height: 93px;
	background: white;
	margin-top: 1px;
}
.foot5-1{
	width: 50%;
	height: 93px;
	line-height: 93px;
	float: left;
}
.foot5-2{
	width: 30%;
	height: 93px;
	line-height: 93px;
	float: right;

}
.foot6{
	width: 90%;
	float: left;
	height: 93px;
	background: white;
	margin-top: 1px;
}
.foot6-1{
	width: 50%;
	height: 93px;
	line-height: 93px;
	float: left;
}
.foot6-2{
	width: 30%;
	height: 93px;
	line-height: 93px;
	float: right;

}
.foot7{
	width: 90%;
	float: left;
	height: 93px;
	background: white;
	margin-top: 1px;
}
.foot7-1{
	width: 50%;
	height: 93px;
	line-height: 93px;
	float: left;
}
.foot7-2{
	width: 30%;
	height: 93px;
	line-height: 93px;
	float: right;

}
.tianchong{
	width: 90%;
	height: 1px;
	float: left;
	background: #E7E7E7;
}
.foot8{
	width: 90%;
	float: left;
	height: 93px;
	background: white;
	
}
.foot8-1{
	width: 50%;
	height: 93px;
	line-height: 93px;
	float: left;
}



